GATEWAY_PORT=8080
DATA_DIR=.data
HOST=127.0.0.1
HTTP_BODY_LIMIT_BYTES=1048576
SERVICE_TIMEOUT_MS=2500
SERVICE_RETRIES=2
CORS_ORIGIN=http://127.0.0.1:8080
WALLET_SERVICE_URL=http://127.0.0.1:4101
POLICY_SERVICE_URL=http://127.0.0.1:4102
COMPLIANCE_SERVICE_URL=http://127.0.0.1:4103
PAYMENT_SERVICE_URL=http://127.0.0.1:4104
ACCOUNTING_SERVICE_URL=http://127.0.0.1:4105
RECONCILIATION_SERVICE_URL=http://127.0.0.1:4106
OPERATIONS_SERVICE_URL=http://127.0.0.1:4107
